body {
  background-color: cornsilk;
}

h4 {
  font-family: georgia;
  color: maroon;
}

/*
svg {
  transform: scale(1, -1);
}
*/

.background {
  fill: ivory;
}

.dataset {
  float: left;
}

.plot {
  float: left;
  margin: 10px;
}

.bar {
  fill: salmon;
  stroke: goldenrod;
}

.scatter {
  fill: salmon;
  stroke: goldenrod;
}

.path-line {
  fill: None;
  stroke: goldenrod;
}

.line {
  stroke: goldenrod;
}

.control_points {
  fill: black;
}

.bezier_points {
  fill: salmon;
}

line {
  stroke: goldenrod;
}

path {
  stroke: steelblue;
  fill: none;
}

svg {
  background: ivory;
}
