body {
  background-color: cornsilk;
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  font-family: georgia;
  color: maroon;
}

text.small {
  font-family: georgia;
  fill: FireBrick;
  text-shadow: 2px 2px 4px grey;
}

circle.anchor {
  fill: FireBrick;
  outline: IndianRed;
}

circle.anchor2 {
  fill: Navy;
  outline: MidnightBlue;
}

button.create-curve {
  background: salmon;
  color: white;
  border: none;
  padding: 15px 32px;
  font-size: 16px;
  border-radius: 4px;
}

button.create-curve:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button.create-curve:active {
  transform: scale(0.95);
}

div.content {
  padding: 10px;
  max-width: 50%;
}

.svg-container {
  padding: 10px;
  background: BlanchedAlmond;
  float: left;
  margin: 10px;
  box-shadow: 4px 4px 4px grey;
}

div.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
svg {
  transform: scale(1, -1);
}
*/

.background {
  fill: ivory;
}

.dataset {
  float: left;
}

.plot {
  float: left;
  margin: 10px;
}

.bar {
  fill: salmon;
  stroke: goldenrod;
}

.scatter {
  fill: salmon;
  stroke: goldenrod;
}

.path-line {
  fill: None;
  stroke: goldenrod;
}

.line {
  stroke: goldenrod;
}

.control_points {
  fill: black;
}

.bezier_points {
  fill: salmon;
}

line {
  stroke: goldenrod;
}

path {
  stroke: steelblue;
  fill: none;
}

svg {
  background: ivory;
}
